/*
!.gitignore
!.zshrc
!hist.config
!.spacemacs
!.tmux.conf
!.bitchrc
!.gemrc
!.gitconfig
!.gitignore_global
!.vimrc
!.iex.exs
!.iterm2/
!.npmrc
!.scripts/
!.atom/
!.weechat/
.weechat/logs/
.atom/config.cson
.atom/compile-cache/
.atom/blob-store/
.atom/dev
.atom/storage
.atom/packages
.atom/.apm
.atom/.node-gyp
.atom/.npm
!README.md
