# http://raphael.kallensee.name/journal/how-to-setup-git-and-git-aliases/
# https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases
[push]
	default = simple
[user]
	name = EFU
	email = efries@inetpeople.net
[alias]
	co = checkout
	st = status
	unstage = reset HEAD --
	aa = !git add -u && git add . && git status
	ci = commit -a
[core]
	editor = nvim
	filemode = false
	excludesfile = /Users/efu/.gitignore_global
	autocrlf = false
	safecrlf = true
[credential]
	helper = osxkeychain
[color]
	ui = auto
[merge]
	tool = nvim -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/efu/.stCommitMsg
[safe]
	directory = /opt/homebrew
